---
import TopBar from './TopBar.astro';
import Terminal from './Terminal.astro';
---

<div class="flex min-h-screen w-full flex-col items-center bg-[radial-gradient(120%_90%_at_28%_-10%,#3b4252_0%,#2e3440_52%,#272c36_100%)]">
  <TopBar />
  <Terminal />
</div>
